@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */

button { cursor: pointer; }
button:disabled { cursor: not-allowed; }

/* Navbar visibility */
.nav-desktop { display: none; }
@media (min-width: 640px) {
  .nav-desktop { display: flex; }
}
.nav-mobile { display: block; }
@media (min-width: 640px) {
  .nav-mobile { display: none; }
}
